[submodule "samarajs"]
	path = samarajs
	url = https://github.com/KELiON/samarajs2.0.git
[submodule "barcelona-js-electron"]
	path = barcelona-js-electron
	url = https://github.com/KELiON/barcelona-js-electron.git
[submodule "jedi-toolset"]
	path = jedi-toolset
	url = https://github.com/KELiON/jedi-toolset.git
[submodule "dev-team-automation"]
	path = dev-team-automation
	url = https://github.com/KELiON/dev-team-automation.git 
